<html>

<body>
    <div>
        <form action="/add" method="post">
            <input type="text" name="name" placeholder="Name">
            <input type="number" name="cost" placeholder="Cost">
            <input type="text" name="link" placeholder="Link">
            <button type="submit">Add</button>
            {{#addMessage}}{{addMessage}}{{/addMessage}}
        </form>
    </div>
        <div>
        <form action="/delete" method="post">
            <input type="number" name="id" placeholder="Id">
            <button type="submit">Delete</button>
            {{#delMessage}}{{delMessage}}{{/delMessage}}
        </form>
    </div>
    <div>List</div>
    <div style = "display:flex; flex-direction:column; width: 70%">
	    {{#foods}}
	    <div style = "display:flex; justify-content:space-between">
	        <div style = "width: 5%">{{id}}</div>
	        <div style = "width: 40%">{{name}}</div>
	        <div style = "width: 20%">{{cost}}</div>
	        <div style = "width: 35%">{{link}}</div>
	    </div>
	    {{/foods}}
    </div>
</body>
</html>